Django
django-extensions
djangorestframework
django-jwt-auth
requests

# Should not use this path. Move tarball to some common dir.
/Users/bob/code/cardgames/playingcard/dist/playingcard-0.1.0.tar.gz
